.container {
  margin-left: 4rem;
  display: grid;
  place-content: center;
  height: 100vh;
  position: relative;
}

.logo {
  position: absolute;
  opacity: 30%;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  z-index: 0;
}

.titulo {
  font-size: 4rem;
  font-family: "Poppins", serif;
  font-weight: bold;
  font-size: 4rem;
  z-index: 50;
  position: relative;
}

.titulo span {
  color: var(--fuente-verde);
}

.description {
  font-family: "Roboto Mono", serif;
  color: var(--fuente-verde);
  position: relative;
  z-index: 50;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 38ch;
  margin: auto;

  animation: typing 2s steps(43), blink .5s infinite step-end alternate;
  overflow: hidden;
}

.containerList {
  right: 8%;
  position: absolute;
  height: 100vh;
  font-family: "Lora", serif;
}

.containerList ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.containerList ul li {
  writing-mode: vertical-rl;
  padding: 1.7rem 0;
}


@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 848px) {
  /* .container{
    margin: 0;

  } */
  .containerList{
    position: initial;
    height: auto;
    margin-top: 1rem;
    z-index: 80;
  }

  .containerList ul{
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .containerList ul li {
    padding: 1rem;
    writing-mode: initial;
  }
}

@media (max-width: 500px) {
  .container{
    margin: 0;
  }
  .logo{
    overflow: hidden;
  }
  .logo img{
    transform: scale(1.9);
  }

  .titulo{
    text-align: center;
    font-size: 3.5rem;
  }
  .presentacion{
    margin: auto;
  }

}