.container {
    margin-left: 4rem;
    padding: 3rem;
}

.titulo {
    font-family: "Poppins", serif;
    font-weight: bold;
    font-size: clamp(3rem, 5vw, 4rem);
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1rem;
}

.titulo span {
    color: var(--fuente-verde);
}

.subti {
    font-family: "Roboto Mono", serif;
    color: var(--fuente-verde);
    text-align: center;
}

.container__experiencias{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    justify-content: center;
}

.card {
    font-family: "Lora", serif;
    border: 2px solid var(--fuente-claro);
    border-radius: 10px;
    padding: 1.5rem;
    width: 20rem;
}
.card h1{
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}
.card p{
    font-size: 12px;
    font-weight: bold;
}
.habilidades{
    list-style: initial;
    padding-left: 2rem;
}
/* Animaciones */

.fadeRight{
    opacity: 01;
    transform: translateX(100%);
    animation: fade 1200ms forwards;
}

.fadeLeft{
    opacity: 0;
    transform: translateX(-100%);
    animation: fade 1200ms forwards;
}

@keyframes fade{
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}


/* Breakpoints */
@media (max-width: 800px){
    .card{
        margin: auto;
    }
    .card__info p{
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .titulo{
        margin-bottom: 0;
        line-height: 5rem;
    }
    .container{
        margin: 0;
        padding: 5rem 0rem;
    }
    .containerCard{
        padding: 2rem;
    }
    .card{
        grid-template-rows: 1fr 1.5fr;
        grid-template-columns: 1fr;
        max-height: 24rem;
    }

    .card__info h1{
        text-align: center;
    }

    .card__info p{
        font-size: 12px;
    }


}