.container {
    margin-left: 4rem;
    padding: 3rem;
    overflow-x: hidden;
}

.logo {
    position: fixed;
    opacity: 30%;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.titulo {
    font-family: "Poppins", serif;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1rem;
}

.titulo span {
    color: var(--fuente-verde);
}

.subti {
    font-family: "Roboto Mono", serif;
    color: var(--fuente-verde);
    text-align: center;
}

.card {
    font-family: "Lora", serif;
    border: 2px solid var(--fuente-claro);
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    width: 50rem;
    margin: 30px auto;
}

.card figure{
    display: grid;
    place-items: center;
}

.card__info p{
    font-size: 12px;
}

.card__info h1{
    font-family: "Poppins", serif;
    font-weight: bold;
    font-size: 1rem;
}

/* Animaciones */

.fadeRight{
    opacity: 01;
    transform: translateX(100%);
    animation: fade 1200ms forwards;
}

.fadeLeft{
    opacity: 0;
    transform: translateX(-100%);
    animation: fade 1200ms forwards;
}

@keyframes fade{
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}


/* Breakpoints */


@media (max-width: 1000px){
   .card{
    width: auto;
   }
}

@media (max-width: 800px){
    .card__info p{
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .titulo{
        margin-bottom: 0;
        line-height: 5rem;
    }
    .container{
        margin: 0;
        padding: 5rem 0rem;
    }
    .containerCard{
        padding: 2rem;
    }
    .card{
        grid-template-rows: 1fr 1.5fr;
        grid-template-columns: 1fr;
        max-height: 24rem;
    }

    .card__info h1{
        text-align: center;
    }

    .card__info p{
        font-size: 12px;
    }


}